name: "Test on push branch"

on:
  pull_request:
    branches: ['**']
  workflow_dispatch: {}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bazelbuild/setup-bazel@v5

      - name: Build
        run: bazel build //:shmipc

      - name: Test
        run: bazel test //tests:all

