name: "Test on push branch"

on:
  pull_request:
    branches: ['**']
  workflow_dispatch: {}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelrc: common --enable_bzlmod
          bazelisk-cache: true
          repository-cache: true
          disk-cache: ${{ github.workflow }}

      - name: Build
        run: bazel build //:shmipc //:shmipc_shared

      - name: Test
        run: bazel test //... --test_output=errors --cache_test_results=no
