name: "Test on push branch"

on:
  pull_request:
    branches: ['**']
  workflow_dispatch: {}

jobs:
  platform-matrix:
    name: Define platform matrix
    uses: ./.github/workflows/platform-matrix.yml

  test:
    name: Test (${{ matrix.os_name }} ${{ matrix.arch }})
    needs: platform-matrix
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.platform-matrix.outputs.core_matrix) }}
    steps:
      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelrc: common --enable_bzlmod
          bazelisk-cache: true
          repository-cache: true
          disk-cache: ${{ github.workflow }}

      - name: Build
        run: bazel build //:build_all

      - name: Test
        run: bazel test //:test_all --test_output=errors --cache_test_results=no
