name: "Test on push branch"

on:
  pull_request:
    branches: ['**']
  workflow_dispatch: {}

jobs:
  test:
    name: Test (ubuntu x86_64)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build cmake

      - name: Configure
        run: |
          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DSHMIPC_BUILD_STATIC=ON \
            -DSHMIPC_BUILD_SHARED=ON \
            -DSHMIPC_BUILD_TESTS=ON

      - name: Build
        run: cmake --build build -j

      - name: Test
        run: ctest --test-dir build --output-on-failure -j1 --timeout 10

