name: "Test on push branch"

on:
  pull_request:
    branches: ['**']
  push:
    branches: [ main ]

jobs:
  test:
    name: Test (${{ matrix.os_name }} ${{ matrix.arch }}) 
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix: 
        include:
          - os_name: linux
            arch: x86_64
            runner: ubuntu-latest
          - os_name: macos
            arch: arm64
            runner: macos-latest
          - os_name: macos
            arch: x86_64
            runner: macos-15
    steps:
      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelrc: common --enable_bzlmod
          bazelisk-cache: true
          repository-cache: true
          disk-cache: ${{ github.workflow }}

      - name: Build
        run: bazel build //:build_all

      - name: Test
        run: bazel test //:test_all --test_output=errors --cache_test_results=no
