name: "Release Core (Reusable)"
      
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: "Library version"

jobs:
  build:
    name: Build Core (${{ matrix.os_name }} ${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    env:
      BAZEL_BUILD_FLAGS: -c opt
      BAZEL_TEST_FLAGS: --test_output=errors --jobs=1 --cache_test_results=no
      VERSION: ${{ inputs.version }}
    strategy:
      fail-fast: false
      matrix: 
        include:
          - os_name: linux
            arch: x86_64
            runner: ubuntu-latest
          - os_name: macos
            arch: arm64
            runner: macos-latest
          - os_name: macos
            arch: x86_64
            runner: macos-15

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Sync MODULE.bazel version to tag
        run: .github/scripts/bump-version.sh "$VERSION" 
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelrc: common --enable_bzlmod
          bazelisk-cache: true
          repository-cache: true
          disk-cache: ${{ github.workflow }}

      - name: Build (opt)
        run: bazel build $BAZEL_BUILD_FLAGS //:shmipc //:shmipc_shared

      - name: Test (no cache, single-threaded)
        run: bazel test $BAZEL_TEST_FLAGS //core/tests:all

      - name: Package
        shell: bash
        run: .github/scripts/package-core.sh "$VERSION" "${{ matrix.os_name }}" "${{ matrix.arch }}" "$(bazel info $BAZEL_BUILD_FLAGS bazel-bin)"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: shmipc-${{ env.VERSION }}-${{ matrix.os_name }}-${{ matrix.arch }}
          path: |
            dist/*.tar.gz
            dist/*.sha256
